{% extends 'base.html.twig' %}

{% block title %}Liste des médicaments{% endblock %}

{% block body %}
<style>
{% include 'css/index.css' %}
</style>
  <div class="TitreContenu">
    <p class="Titre">Liste des médicaments</p>
  </div>
    {% for medicament in medicaments %}
    <br>
    <br>
    <div class="Medicament">
        <div class="MedicamentGauche"><br>
        {{ medicament.medNomcommercial }}
        </div>
        <div class="">

        </div>
      </div>

    {% endfor %}
{% endblock %}
