{% extends 'base.html.twig' %}

{% block title %}Détails du médicament{% endblock %}

{% block body %}
  <style>
    {% include 'css/index.css' %}
  </style>

  <h1> accès page de suppression </h1>
{% endblock %}
