<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="base.css">
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
      <style>
        {% include 'css/base.css' %}
      </style>
        <div class="GrandBandeauHaut">
          <div class="BandeauImg">
            <img src="C:\wamp64\www\BDMO_GSB_SYMFONY\public\img\gsb.png" alt="logo">
          </div>
          <div class="TitreBandeauHaut">
            <p class="LblBienvenue"> Bienvenue Mr XXXXXXX
            <button class="BtnDeconnexion"type="button" name="deconnexion">Déconnexion</button></p>
          </div>
        </div>
        <div class="Conteneur">
            <div class="Gauche">

            </div>
            <div class="Droite">
              {% block body %}

              {% endblock %}
            </div>
        </div>

    </body>
</html>
